extends layouts/layout

include mixins/login

block content
  .best-background-ever
    .ui.grid
      .two.wide.column
      .twelve.wide.column
        h4.main-header PSI-Team-Hub - Najbolji organizator projekata na fakultetu
      .two.wide.column
        i.sign.in.big.icon.right.floated.primary.menu-button(id='login')
    #login-modal.ui.modal
      i.close.icon
      +login('Prijava', '/students')
    #register-modal.ui.modal
      i.close.icon
      +login('Registracija', '/students')
        .field
          input(type="text", name="indeks", placeholder="Broj indeksa BBBB/GGGG")
