extends layout.jade

block content
  .ui.text.container
    .ui.divided.items
      .ui.item
        a.ui.tiny.image
          img(src='/images/logo.png')
        .ui.content
          a.header Djukic Jovan
          a.ui.right.floated.button.primary(href='#2') Pozovi
          .meta
            p Organizator
          .description
            span.ui.right.floated
              .ui.label Design Patterns
              .ui.label OOP
      // .ui.item

      .ui.item
        a.ui.tiny.image
          img(src='/images/logo.png')
        .ui.content
          a.header Aleksa Pavlovic
          .ui.right.floated.button.primary Pozovi
          .meta
            p Frontender
          .description
            span.ui.right.floated
              .ui.label SASS
      // .ui.item

      .ui.item
        a.ui.tiny.image
          img(src='/images/logo.png')
        .ui.content
          a.header Miljkovic Ivan
          .ui.right.floated.button.primary Pozovi
          .meta
            p Backender
          .description
            span.ui.right.floated
              .ui.label Python
      // .ui.item

      .ui.item
        a.ui.tiny.image
          img(src='/images/logo.png')
        .ui.content
          a.header Djordje Simovic
          .ui.right.floated.button.primary Pozovi
          .meta
            p Backender
          .description
            span.ui.right.floated
              .ui.label NodeJS
              .ui.label Data Science
      // .ui.item
