doctype html
html(lang="en")
  head
    title= Title

    link(rel="stylesheet", href="/styles/importer.css")
    link(rel='stylesheet prefetch', href='https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.1.8/components/icon.min.css')
    block styles
  body
    block nav

    div(id='main-content')
      block content

    script(src='//code.jquery.com/jquery-1.12.0.min.js')
    script(src='/js/functions.js')
    script(src='/js/semantic.js')
    block scripts
