doctype html
html(lang="en")
  head
    title= Title

    link(rel="stylesheet", href="/styles/importer.css")
    block styles
  body
    block nav
      .ui.main.menu.borderless
          .header.item PSI
          a.switch.item(href='/') Kolege
          a.switch.item(href='/timovi') Timovi
          a.switch.item.floated.right(href='/profile') Profil
    div(id='main-content')
      block content

    script(src='//code.jquery.com/jquery-1.12.0.min.js')
    script(src='/js/functions.js')