extends layout.jade

block nav

block content
  #full.ui.middle.aligned.center.aligned.grid
    .eight.wide.stretched.column
      form.ui.form(action='/auth/local/login', method='post')
        h1.left.aligned.ui.dividing.header Prijava
        .field
          .two.fields
            .field
              input(type="text", name="first_name", placeholder="Ime")
            .field
              input(type="text", name="last_name", placeholder="Prezime")
        .field
            input(type="password", name="password", placeholder="Password")
        input.ui.button.primary(type="submit", value="Prijavi se")
