extends layout

block nav
  .ui.main.menu.borderless
    a.switch.item(href='/') PSI
    a.switch.item(href='/students') Kolege
    a.switch.item(href='/timovi') Timovi
    a.switch.item.floated.right(href='/profile') Profil