extends layout

block nav
  .ui.thin.sidebar.inverted.vertical.menu
    a.switch.drawer.item(href='/') PSI
    a.switch.drawer.item(href='/students') Kolege
    a.switch.drawer.item(href='/timovi') Timovi
    a.switch.drawer.item(href='/profile') Profil
  .ui.grid
    .four.column.row
      .column
        .ui.grid
          .centered.column.text-align-center
            i.big.sidebar.icon.padded(id='nav-drawer-button')
