extends layout.jade

block nav

block content
  #full.ui.middle.aligned.center.aligned.grid
    .eight.wide.stretched.column
      form.ui.form(action='/register?next=/', method='post')
        h1.ui.left.aligned.dividing.header Registracija
        .field
          .two.fields
            .field
              input(type="text", name="first_name", placeholder="Ime")
            .field
              input(type="text", name="last_name", placeholder="Prezime")
        .field
          input(type="text", name="indeks", placeholder="Broj indeksa BBBB/GGGG")
        .field
          input(type="password", name="password", placeholder="Password")
        input.ui.button.primary(type="submit", value="Registruj se")
