extends navbar-layout

include mixins/team

block content
  .ui.text.container
    .ui.divided.items
      +team('Slackeri',
            '/images/logo.png',
            [
              {'name': 'Djukic Jovan','proffession': 'organizator'},
              {'name': 'Miljkovic Ivan','proffession': 'backender'},
              {'name': 'Simovic Djordje', 'proffession': 'data scientist'}
            ],
            [
              'frontender',
              'designer'
            ]
          )

      +team('The Who',
            '/images/question.jpg',
            [
              {'name': 'Roger Daltrey', 'proffession': 'pevac'},
              {'name': 'Pete Townshend', 'proffession': 'gitarista'}
            ],
            [
              'bubnjar',
              'basista',
              'tonac'
            ]
          )

      +team('Tim Raketa',
            '/images/team_rocket.png',
            [
              {'name': 'James', 'proffession': 'smarac'},
              {'name': 'Jessie', 'proffession': 'smaracica'},
              {'name': 'Meow', 'proffession': 'meow-tako je'}
            ],
            [
              'pikachu',
              'charizard',
              'bulbasaur',
              'meowtwo'
            ]
          )
  #team-modal.ui.basic.modal
    .ui.icon.header
      i.protect.icon
      | Prijava
    .content.text-align-center
      p
        | Prijavljujete se za izabrani tim, da li je to vas konacan odgovor? :D
    .actions
      .ui.three.column.grid
        .column
        .column
          .two.fluid.ui.inverted.buttons
            #subscribe-reject.ui.red.basic.inverted.button
              i.remove.icon
              |         Ne
            #subscribe-accept.ui.green.basic.inverted.button
              i.checkmark.icon
              |         Da

block scripts
  scripts(src='/js/teams/popups.js')
