extends layout

include mixins/team

block content
  .ui.text.container
    .ui.divided.items
      +team('Slackeri',
            '/images/logo.png',
            [
              {'name': 'Djukic Jovan','proffession': 'organizator'},
              {'name': 'Miljkovic Ivan','proffession': 'backender'},
              {'name': 'Simovic Djordje', 'proffession': 'data scientist'}
            ],
            [
              'frontender',
              'designer'
            ]
          )

      +team('The Who',
            '/images/question.jpg',
            [
              {'name': 'Roger Daltrey', 'proffession': 'pevac'},
              {'name': 'Pete Townshend', 'proffession': 'gitarista'}
            ],
            [
              'bubnjar',
              'basista',
              'tonac'
            ]
          )

      +team('Tim Raketa',
            '/images/team_rocket.png',
            [
              {'name': 'James', 'proffession': 'smarac'},
              {'name': 'Jessie', 'proffession': 'smaracica'},
              {'name': 'Meow', 'proffession': 'meow-tako je'}
            ],
            [
              'pikachu',
              'charizard',
              'bulbasaur',
              'meowtwo'
            ]
          )
