extends layout.jade

include mixins/team.jade

block content
  .ui.text.container
    .ui.divided.items
      +team('Slackeri', 
            '/images/logo.png',
            [
              {'name': 'Djukic Jovan','proffession': 'organizator', 'button_color': 'blue'},
              {'name': 'Miljkovic Ivan','proffession': 'backender', 'button_color': 'orange'},
              {'name': 'Simovic Djordje', 'proffession': 'data scientist', 'button_color': 'green'}
            ],
            [
              'frontender',
              'designer'
            ]
          )

      +team('The Who',
            '/images/question.jpg',
            [
              {'name': 'Roger Daltrey', 'proffession': 'pevac', 'button_color': 'yellow'},
              {'name': 'Pete Townshend', 'proffession': 'gitarista', 'button_color': 'purple'}
            ],
            [
              'bubnjar',
              'basista',
              'tonac'
            ]
          )

      +team('Tim Raketa',
            '/images/team_rocket.png',
            [
              {'name': 'James', 'proffession': 'smarac', 'button_color': 'blue'},
              {'name': 'Jessie', 'proffession': 'smaracica', 'button_color': 'pink'},
              {'name': 'Meow', 'proffession': 'meow-tako je', 'button_color': 'yellow'}
            ],
            [
              'pikachu',
              'charizard',
              'bulbasaur',
              'meowtwo'
            ]
          )
