extends layout.jade

block content
  .ui.text.container
    .ui.divided.items
      .ui.item
        .ui.small.image
          img(src='/images/logo.png')
        .ui.content
          .header Slackeri
          .description
            .ui.list
              .item
                a.ui.blue.label Djukic Jovan
                  .detail organizator
              .item
                a.ui.green.label Miljkovic Ivan
                  .detail backender
              .item
                a.ui.orange.label Simovic Djordje
                  .detail data scientist
        .ui.right.floated
          h4 Trazi se frontender
          .ui.right.floated.button.primary Prijavi se


      .ui.item
        .ui.small.image
          img(src='/images/question.jpg')
        .ui.content
          .header The Who
          .description
            .ui.list
              .item
                a.ui.black.label Roger Daltrey
                  .detail pevac
              .item
                a.ui.gray.label Pete Townshend
                  .detail gitarista

        .ui.right.floated
          h4 Trazi se bubnjar
          .ui.right.floated.button.primary Prijavi se
