mixin student(name, image, role, skills)
  .ui.item
    a.ui.tiny.image(href='/profile')
      img(src=image)
    .ui.content
      a.header(href='/profile')= name
      a.ui.right.floated.button.primary.call.student Pozovi
      .meta
        p= role
      .description
        span.ui.right.floated
          each skill in skills
            .ui.label= skill
